<div class="animated fadeIn">
    <br />
    <div class="card">
        <div class="card-header">
            <i class="icon-drop"></i> Patient Info
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div *ngIf="currentPatient">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search by title" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                                    Search
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name"><strong>Name:</strong></label> {{ currentPatient?.title }}
                        </div>

                        <div class="form-group">
                            <label for="age"><strong>Age:</strong></label> {{ currentPatient?.age }}
                        </div>

                        <div class="form-group">
                            <label for="gender"><strong>Gender:</strong></label> {{ currentPatient?.gender }}
                        </div>

                        <div class="form-group">
                            <label for="title"><strong>Doctor:</strong></label> {{ currentDoctor?.title }}
                        </div>

                        <div class="form-group">
                            <label for="title"><strong>Hospital: </strong></label> {{ currentHospital?.title }}
                        </div>
                        <div class="form-group">
                            <label for="title"><strong>Medical Records:</strong></label>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let medical of medicals; let i = index"
                                    [class.active]="i == currentIndex" (click)="setActiveMedical(medical, i)">
                                    {{ medical.title }} -- <strong>{{ medical.type }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <input type="file" id="file" (change)="fileUpload($event.target.files)">
                        </div>
                    </div>
                    <div *ngIf="!currentPatient">
                        <br />
                        <p>You do not have permissions to view this patient or patient does not exist.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>