<div class="animated fadeIn">
    <br />
    <div class="card">
        <div class="card-header">
            <i class="icon-drop"></i> Patients
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div *ngIf="!currentPatient">
                        <p>Please click on a patient...</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let patient of patients; let i = index"
                            [class.active]="i == currentIndex" (click)="setActivePatient(patient, i)">
                            {{ patient.title }}
                        </li>
                    </ul>
                    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPatients()">
                        Remove All
                    </button>
                </div>

                <div class="col-8">
                    <div *ngIf="currentPatient">
                        <h4>Patient:</h4>
                        <div>
                            <label><strong>Title:</strong></label> {{ currentPatient.title }}
                        </div>
                        <div>
                            <label><strong>Age:</strong></label>
                            {{ currentPatient.age }}
                        </div>
                        <div>
                            <label><strong>Gender:</strong></label>
                            {{ currentPatient.gender }}
                        </div>
                        <div>
                            <label *ngIf="currentDoctor?.title"><strong>Doctor:</strong></label> {{ currentDoctor?.title
                            }}
                        </div>
                        <div>
                            <label *ngIf="currentHospital?.title"><strong>Hospital:</strong></label> {{
                            currentHospital?.title }}
                        </div>

                        <a class="badge badge-warning mr-2" routerLink="/patients/{{ currentPatient.id }}">
                            Edit
                        </a>
                        <a class="badge badge-success mr-2" routerLink="/patientsView/{{ currentPatient.id }}">
                            View
                        </a>
                        <a *ngIf="!currentDoctor?.title" class="badge badge-success mr-2"
                            routerLink="/patients/{{ currentPatient.id }}">
                            Add Doctor
                        </a>
                        <a *ngIf="currentDoctor?.title" class="badge badge-success mr-2"
                            routerLink="/patients/{{ currentPatient.id }}">
                            Change Doctor
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
