<div class="animated fadeIn">
    <br />
    <div class="card">
        <div class="card-header">
            <i class="icon-drop"></i> Edit Doctor
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div *ngIf="currentHospital" class="edit-form">
                        <h4>Hospital</h4>
                        <form>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" [(ngModel)]="currentHospital.title"
                                    name="title" />
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location"
                                    [(ngModel)]="currentHospital.location" name="location" />
                            </div>
                        </form>

                        <button class="badge badge-danger mr-2" (click)="deleteHospital()">
                            Delete
                        </button>

                        <button type="submit" class="badge badge-success" (click)="updateHospital()">
                            Update
                        </button>
                        <p>{{ message }}</p>
                    </div>

                    <div *ngIf="!currentHospital">
                        <br />
                        <p>Cannot access this Hospital...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>