<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="title"><strong>Doctors:</strong></label>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let doctor of doctors; let i = index"
                    [class.active]="i == currentIndex" (click)="setActiveDoctor(doctor, i)" (click)="retrievePatients(currentDoctor.id)">
                    {{ doctor.title }}
                </li>
            </ul>
        </div>
        <div class="form-group" onload="retrievePatients(currentDoctor.id)">
            <label for="title" ><strong>Patients:</strong></label>
            <ul class="list-group" >
                <li  class="list-group-item" *ngFor="let patient of patients; let i = index">
                    {{ patient.title }}
                </li>
            </ul>
        </div>
    </div>
</div>