<div class="animated fadeIn">
    <br />
    <div class="card">
        <div class="card-header">
            <i class="icon-drop"></i> Your Info
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="name"><strong>Name:</strong></label> {{ patient?.title }}
                    </div>

                    <div class="form-group">
                        <label for="age"><strong>Age:</strong></label> {{ patient?.age }}
                    </div>

                    <div class="form-group">
                        <label for="gender"><strong>Gender:</strong></label> {{ patient?.gender }}
                    </div>

                    <div class="form-group">
                        <label for="title"><strong>Doctor:</strong></label> {{ patient?.doctor }}
                    </div>

                    <div class="form-group">
                        <label for="title"><strong>Hospital: </strong></label> {{ patient?.hospital }}
                    </div>
                    <div class="form-group">
                        <label for="title"><strong>Medical Records:</strong></label>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let medical of medicals; let i = index"
                                [class.active]="i == currentIndex" (click)="setActiveMedical(medical, i)">
                                {{ medical.title }} -- <strong>{{ medical.type }}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
